body { 
	background-color:white; font-size:90%;
	/*background-image:url(../img/dynamicAnchorBg.jpg); */
font-family:Helvetica;
}
/* docs */
.code { background-color:#e4e5ef; 
border:1px solid black; margin:1em; padding:0.8em; 
overflow:auto;
font-family:courier; 
font-size:8pt;
}
.section { border-bottom: 1px dotted black; padding:1em;font-family:helvetica;background-color:white;color:#333;}
.menu,.renderMode { 
border-radius:0.5em;
	position:fixed; 
	right:1em; top:1em;
	background-color:#fff;
	padding:0.3em;
	opacity:0.8;
	z-index:5000;
	filter:alpha(opacity=80);
		box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;

}

.renderMode {
left:1em;
top:1em;
width:13em;
padding-top:0.1em;
padding-bottom:0.5em;

}
.renderMode ul {
padding-left:1em;
}
.renderMode ul li {
list-style-type:none;
}
.renderMode h5 {
margin-top:1em;
margin-bottom:0.7em;
}

a {text-decoration:none;
color:#01a3c6;
font-weight:bold;
font-family:helvetica;
padding:0.3em;
border-radius:0.2em;

}
a:hover {
color:#1b911b;
background-color:#f0f0f0;
}
#explanation a {
background-color:transparent;
}
#explanation a:hover {
text-decoration:underline;
}
.window, .label { 
	cursor:pointer;
	box-shadow: 2px 2px 19px #aaa;
   -o-box-shadow: 2px 2px 19px #aaa;
   -webkit-box-shadow: 2px 2px 19px #aaa;
   -moz-box-shadow: 2px 2px 19px #aaa;
}

#explanation {
	cursor:drag;
	background-color:white;
	color:black;
	border:0.25em solid #ddd;
	position:absolute;
	top:26px;
	width:769px;
	font-size:90%;
	-moz-border-radius:1em;
	border-radius:1em;
	padding:1em;
	z-index:1000;
	opacity:0.9;
	filter:alpha(opacity=90);
	font-family:helvetica;
	box-shadow: 2px 2px 19px #aaa;
	-o-box-shadow: 2px 2px 19px #aaa;
	-webkit-box-shadow: 2px 2px 19px #aaa;
	-moz-box-shadow: 2px 2px 19px #aaa;
	text-align: left;
}

.selected {
	color:rgb(189,11,11);
}


/*  these styles are what jsPlumb attaches to the various elements it creates.
._jsPlumb_connector {
border:1px solid blue;
}
._jsPlumb_endpoint {
border:1px solid green;
}
._jsPlumb_overlay {
border:1px solid yellow;
}
*/


.section li {
list-style-type:none;
}

li.bullet {
	list-style-type:circle;
	}


.section {
padding-left:2em;
font-size:10pt;
}
.index.section {
padding-left:0;
}

.index {
width:20em;
font-size:9pt;
float:left;
background-color:#e4eeee;
overflow:auto;
padding-left:0.5em;
}

.index li {
list-style-type:none;
}

.index ul, .index h3 {
padding-left:1.5em;

}

#demo {
width:80%;
height:50em;
margin-left:3em;
margin-top:3em;
position:relative;
}

.sub {
margin-left:1em;
}

.table td {
	text-align:center;
}

path, ._jsPlumb_endpoint { cursor:pointer; }

.hover {
	box-shadow: 2px 2px 19px red;
   -o-box-shadow: 2px 2px 19px red;
   -webkit-box-shadow: 2px 2px 19px red;
   -moz-box-shadow: 2px 2px 19px red;
}
