			#demo {
				margin-top:230px;
			}
		
			.w {
	width:131px;
	padding:1em;
	position:absolute;
	border: 1px solid black;
	z-index:4;
	border-radius:1em;
	border:1px solid #346789;
	box-shadow: 2px 2px 19px #e0e0e0;
	-o-box-shadow: 2px 2px 19px #e0e0e0;
	-webkit-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-box-shadow: 2px 2px 19px #e0e0e0;
	-moz-border-radius:0.5em;
	border-radius:0.5em;
	opacity:0.8;
	filter:alpha(opacity=80);
	cursor:move;
	height: 35px;
			}
			
			.aLabel {
				background-color:white;
				opacity:0.8;
				padding:0.3em;				
			}
			
			.ep {
				float:right;
				width:1em;
				height:1em;
				background-color:#0033cc;
				cursor:pointer;
			}
			
			._jsPlumb_endpoint {
				z-index:3;
			}
		/*	._jsPlumb_connector { border:1px solid red; }*/
			
			
			#hy {
				left: 264px;
				top:1px;
			}
			
			#monitor {
				left:34px;
				top:90px;
			}
			
			#keyboard {
				left:54px;
				top:170px;
 			}
			#mouse {
				left:154px;
				top:250px;
			}
			#software {
				left:27em;
				top:22em;
			}
			#hardware {
	left:472px;
	top:404px;
			}
			 
 			#printer {
				left: 194px;
				top:330px;
			}
			
			#win7 {
				left:254px;
				top:170px;
			}
			
			#macos {
				left:364px;
				top:115px;
			}

			#paint {
	left:477px;
	top: 86px;
			}
			
			#macos {
	left: 76px;
	top:427px;
			}
			
			#writer {
				left:464px;
				top: 185px;
			}
			
			#word {
				left: 24px;
				top:330px;
			}
			 
			#system_software {
				left:264px;
				top: 85px;
			}
			 
			 
			#application_software {
	left:275px;
	top:424px;
			}
			 
        
				
			.dragHover { border:1px dotted red; }
			
			path { cursor:pointer; }
